{% extends '::base.html.twig' %}

{% block body %}

    <div id="blog_sidebar" class="right">
        <p>Projekte</p>
        <hr>
        <ul>
            <li><a href="">Lorem ipsum</a></li>
            <li><a href="">Lorem ipsum dolor</a></li>
        </ul>
        <p>Archiv</p>
        <hr>
        <ul>
            <li><a href="">Lorem ipsum</a></li>
            <li><a href="">Lorem ipsum dolor</a></li>
        </ul>
        <p>Blogroll</p>
        <hr>
        <ul>
            <li><a href="">Lorem ipsum</a></li>
            <li><a href="">Lorem ipsum dolor</a></li>
        </ul>

        {% block content %} {% endblock %}

    </div>

{% endblock %}

{% block stylesheet %}
    {{ parent() }}

    <link href="{{ asset('bundles/webdevblog/css/layout.css') }}" rel="stylesheet" type="text/css">

{% endblock %}